---
import Layout from "../layouts/BlogPost.astro";
import Header from "../components/Header.astro";
---
<div class="container lg:max-w-4xl mx-auto">
	<Header />
	<Layout
		description="Una bréve descripción sobre el autor de este blog"
		titile={null}
		pubDate={null}
		updatedDate={null}
		heroImage={null}
	>
		<p>
			Hola. Soy un desarrollador web aprendiendo y compartiendo todo lo que puedo sobre desarrollo de juegos y motores de juegos, porque amo los videojuegos (¿quién lo diría?). No soy un experto en nada, pero hago lo que puedo para compartir lo que aprendo :)


		</p>
		<p>
			Hablo sobre Zig, Rust, desarrollo de juegos y motores de juegos.

		</p>
	</Layout>
</div>
