---
---

<div class="">
	<figure>
		<img src="https://placehold.co/440x247" alt="Placeholder image" />
	</figure>
	<h3 class="text-3xl font-bold my-2">
		¿cómo programar tu primer juego en godot?
	</h3>
	<p>
		eightthings.pdf is the best paper I've read on what's going on in AI right
		now and why ever...
	</p>
</div>
