---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const baseUrl = import.meta.env.MODE === 'development' ? 'http://localhost:4321' : 'https://kersan.dev';

---

<header class="flex justify-between items-end my-10 ">
	<a href="/" class="text-5xl font-bold link-light hover:underline">
		{SITE_TITLE}
	</a>
	<a href="/about" class="text-xl link-light hover:underline">
		Sobre mí
	</a>
</header>
