---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<header class="text-center">
	<h1 class="text-5xl my-3 font-bold">
		{SITE_TITLE}
	</h1>
	<h4 class="text-xl my-2">
		{SITE_DESCRIPTION}
	</h4>
</header>
