---
import FeaturedArticle from "./FeaturedArticle.astro";
---

<section>
	<h5>Últimos Artículos</h5>
	<div class="flex justify-between gap-4 my-4">
		<FeaturedArticle />
		<FeaturedArticle />
	</div>
</section>
